.person-container {
  background-color: #fff;
  padding: 10px 30px;
  color: #4d4e4f;
  margin-bottom: 20px;

  .form-container {
    min-height: 334px;
    form {
      width: 100%;
    }
    .row {
      padding-bottom: 15px;
    }
  
    .welcome {
      h3 {
        margin: 0;
      }
    }
  
    .user {
      display: flex;
      align-items: center;
      font-size: 16px;
  
      .avatar img{
        width: 120px;
        height: 120px;
        margin-right: 20px;
      }
    }
  
    .radio {
  
      input[type="radio"] {
        vertical-align: middle;
      }
  
      label {
        margin: 0;
        padding-bottom: 6px;
      }

      button{
        border-radius: 0;   
        width: 75px;
      }
      
    }
  
    .coulmn {    
      flex-direction: column;
      justify-content: center;
    }
    .second{
      padding-top: 15px;
    }
  
    .radio .form-group{
      display: flex;
      flex-direction: row;
    }
  
  }

  .waiting-container {
    min-height: 334px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}