<div class="live-stream-container">  
  <!-- <h2>Video in {{ngVersion}}</h2>
  <button id="showVideo" (click)="initVideo($event)" [disabled]="streaming">Open camera</button><br>
  <pre *ngIf="error">
            {{error | json}}
          </pre>
  <video #video width="320" height="240"></video> -->

  <!-- <OBJECT classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
  codebase="rtsp://admin:awisys555@192.168.0.202:554"
     width="640" height="480" id="vlc" events="True">
<param name="Src" value="" />
<param name="ShowDisplay" value="True" />
<param name="AutoLoop" value="False" />
<param name="AutoPlay" value="False" />
</OBJECT> -->
  <div>
    <!-- <img src="http://192.168.0.202" >  -->
    
  </div>
</div>  