<div class="live-stream-container">  
  <div class="selectedCam">
      <select class="form-control" #cameraId="ngModel" name="cameraId"
      [(ngModel)]="selectedLiveStreamCamera" (change)="getLiveStreamCameraId()" >
      <!-- <option value="" disabled selected >Select your option</option> -->
        <option *ngFor="let a of liveStreamCameraInfo;let i = index" [ngValue]="a.id">{{ a.name }}</option>
      </select>
  </div>
  <div class="live-stream">
    <!-- <img src="http://192.168.0.21:8005" >  -->
    <img class="img-fluid" src={{liveStreamCamUrl}} onerror="src='assets/error_404.png';" >    
  </div>
</div>  