<!-- <div class="app">
    <div class='app-header'>
      <div class="row">
          <div class="col-md-12 col-sm-12">
            <img src="../../../assets/awiros_logo_reg.svg" alt="Avatar">
          </div>
      </div>
    </div>
    <div class="app-container">
        <app-person></app-person>
        <app-live-stream></app-live-stream>
    </div>    
</div>
 -->

 <div class="app">
    <div class='app-header'>
      <div class="row">
          <div class="col-md-12 col-sm-12">
            <img src="../../../assets/awiros_logo_reg.svg" alt="Avatar">
          </div>
      </div>
    </div>
    <div class="app-container">
        <!-- <router-outlet></router-outlet> -->
        <app-person></app-person>
        <app-live-stream></app-live-stream>
    </div>    
</div>


 

 
