<div class="person-container">
  <div class="row">
    <div class="col-md-12 welcome">
      <h3>Welcome {{empRecord.name}}</h3>
    </div>

  </div>
  
  <div class="row">
    <div class="col-md-12 user">
      <div class="avatar coulmn">
        <img src="https://www.tutorialrepublic.com/examples/images/avatar/1.jpg" alt="Avatar"> 
      </div>
      <div class="coulmn">
        <div >Time of Entrance: </div> <span> {{empRecord.inTime | date: 'yyyy/MM/dd h:mm:ss a'}} </span>
        <div class="second">Entrance From:</div> <span> {{empRecord.location}} </span>
      </div>
    </div>    
  </div>  

  <div class="row">
    <div class="col-md-12">
        <div class="radio d-flex align-items-center">
          <div class="col-md-6 p-0">
            <label>
              <input type="radio" name="radio" value="true" checked> Is this {{empRecord.name}} ?          
            </label>
          </div>
          <div>
            <button type="submit" class="btn btn-secondary">Verify</button>
          </div>
        </div>
    </div>    
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="radio">
        <label>
          <input type="radio" name="radio"> Not Arvind kausik?
        </label>
        <form>
            <div class="form-group ">
              <div class="col-6">
                  <input type="email" class="form-control"  placeholder="Enter your name">
              </div>
              <div>
                  <button type="submit" class="btn btn-secondary" >Submit</button>
              </div>
            </div>
            
        </form>
      </div>
    </div>
  </div>
  <app-live-stream></app-live-stream>
</div>